//Created by lucas on 28/03/16.

extends layout

block content
    .container
        ol.breadcrumb
            -var directory = '';
            -for (var i = 0; i < original_dir.length; i++){
                -directory = directory + original_dir[i] + '/';
                li
                    a(href='/' + directory + 'browse') #{original_dir[i]}
            -}
            li.active Directory
        if depth > 2 && count > 0
            span.label.label-primary #{count} found
            each result in results
                p
                    a(href='/Colenso/' + result.path + '/display') #{result.title}
                    | (
                    -var size = result.size/1024
                    if size < 1024
                        | !{size.toFixed(2)} KB)
                    else
                        -size = size/1024
                        | !{size.toFixed(2)} MB)
        else if depth > 0 && count > 0
            span.label.label-primary #{count} found
            each subdirectory in subdirectories
                p
                    -var showing = subdirectory.split('/')[subdirectory.split('/').length - 1];
                    a(href='/Colenso/' + subdirectory + '/browse') #{showing}
        else
            span.label.label-warning #{count} found