//Created by lucas on 30/03/16.

extends layout

block content
    if isSave
        p saved
    else
        .container.nav-customize
            form(action = url.replace('displayXML', 'saveXML'), method = "post")
                ul.nav.nav-tabs
                    li(role='presentation')
                        a(href=url.replace('displayXML', 'display')) Text
                    li.active(role='presentation')
                        a(href=url) XML
                    div.div-block-right
                        input.btn.btn-default.btn-xml(type='submit', value="Save")
                        a.btn.btn-default.btn-xml(href=url.replace('displayXML', 'download'), download) Download XML
                .display-title.padding-around= info.title
                div.padding-around
                    textarea.form-control.textarea-xml(name="xml_text", rows="50", id="xml") #{letter}

