//Created by lucas on 28/03/16.

extends layout

block content
    .container.nav-customize
        ul.nav.nav-tabs
            li.active(role='presentation')
                a(href=url) Text
            li(class="", role='presentation')
                a(href=url+'XML') XML
    .container
        .display-title.padding-around= info.title
        p(style='padding: 0 15px')
            span.glyphicon.glyphicon-pencil(aria-hidden='true')
            a(href=info.author_url) !{info.author}
            | , !{info.date}
        div.padding-around
            p !{letter}