//Created by lucas on 28/03/16.

extends layout

block content
    .container
        ol.breadcrumb
            li.active Search:
            li.active #{search}
        if count > 0
            .margin-bot
                span.label.label-primary #{count} found

            each result in results
                .well.well-customize
                    a(href='/Colenso/' + result.path + '/display') #{result.title}
                    | (
                    -var size = result.size/1024
                    if size < 1024
                        | !{size.toFixed(2)} KB)
                    else
                        -size = size/1024
                        | !{size.toFixed(2)} MB)
        else
            span.label.label-warning #{count} found